* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}
.container {
  width: 100%;
  padding: 30px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
  background-color: white;
  padding-left: 68px;
  padding-right: 68px;
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    .Links {
      display: flex;
      gap: 40px;
      margin-top: 5px;
    }
    h1 {
      font-size: 25px;
      font-family: sans-serif;
    }
    .darkk {
      background: transparent;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      margin-right: 20px;
      .dark-p {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
      }
    }
  }
}
main {
  margin-top: 150px;
  .mainFIrst {
    margin: 15px;
    margin-top: 100px;
    padding-right: 130px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search {
      width: 400px;
      height: 56px;
      box-shadow: 0 0 5px #ccc;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      margin-left: 112px;
      input {
        width: 100%;
        padding: 15px;
        outline: none;
        border: none;
        font-size: 22px;
      }
    }
    //////// FILTER .////////////////////////////////////////////
    .Regions {
      width: 200px;
      height: 56px;
      box-shadow: 0px 2px 9px 0px #0000000e;
      border-radius: 8px;
      overflow: hidden;
      border: none;
      padding-left: 10px;
      cursor: pointer;
    }
    ////////////////////////////////////////////////////////////
  }
  .mainSecond {
    .flags {
      display: flex;
      gap: 75px;
      flex-wrap: wrap;
      justify-content: center;
      .flags-1 {
        box-shadow: 0px 0px 7px 2px #00000008;
        width: 264px;
        height: 336px;
        h2 {
          font-family: Nunito Sans;
          font-size: 18px;
          font-weight: 800;
          line-height: 26px;
          text-align: left;
          color: #111517;
          margin-top: 24px;
          margin-left: 24px;
          padding-bottom: 16px;
        }
        p {
          margin-left: 24px;
        }
      }
      .flags-1:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px,
          rgba(0, 0, 0, 0.12) 0px -12px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 2px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.4s;
        border-radius: 5px;
      }
    }
  }
}
