* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}
.container {
  width: 100%;
  padding: 30px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    .Links {
      display: flex;
      gap: 40px;
      margin-top: 5px;
    }
    h1 {
      font-size: 25px;
      font-family: sans-serif;
    }
    .darkk {
      background: transparent;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      margin-right: 20px;
      .dark-p {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
      }
    }
  }
}
main {
  margin-top: 150px;
  .mainFIrst {
    margin: 15px;
    margin-top: 100px;
    padding-right: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search {
      width: 480px;
      box-shadow: 0 0 5px #ccc;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      margin-left: 22px;
      input {
        width: 100%;
        padding: 15px;
        outline: none;
        border: none;
        font-size: 22px;
      }
    }
    //////// FILTER .////////////
    .BigDrop {
      width: 200px;
      // position: relative;
      .miniDrop {
        width: 200px;
        padding: 17px 14px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 16px;
        //   margin-left: -22px;
        p {
          font-family: sans-serif;
          margin-top: 3px;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
        }
        i {
          cursor: pointer;
        }
      }

      .drop-p {
        font-family: sans-serif;
        font-size: 16px;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        top: 70px;
        padding: 20px 14px;
        width: 100%;
        border-radius: 8px;
        background-color: white;
        cursor: pointer;
        padding-left: 20px;
      }

      .region:hover {
        // background-color: #202c36;
        color: #4f5960;
        font-size: 17px;
        transition: 0.4s;
      }
    }
    .miniDrop:hover {
      background-color: rgb(226, 225, 225);
      transition: 0.5s;
    }
    .dropped {
      display: none;
    }
  }
  .mainSecond {
    img {
      width: 200px;
    }
  }
}
